footer-diretive{
    font-size: 10px;

    .top{
        padding: 90px 15px;

        ul{
            list-style: none;

            li{
                a{
                    display: block;
                    color: unset;
                }

                &:first-of-type{
                    font-size: 2em;
                    letter-spacing: -0.45px;
                    color: #000000;
                    margin-bottom: 20px;
                }
        
                &:not(:first-of-type){
                    font-size: 1.5em;
                    color: rgba(0, 0, 0, 0.85);
        
                    &:not(:last-of-type){
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }

    .mid{
        background-color: #f5f5f5;
        height: 270px;

        .container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            padding: 0 10px;
            .left{
                display: flex;
                align-items: center;
    
                img{
                    width: 100px;
                    margin-right: 190px;
                }
        
                .informations{
                    max-width: 270px;
                    margin: 0;  
                    font-size: 1.4em;
                    line-height: 1.8;
                    color: rgba(0, 0, 0, 0.85);
                }
            }
    
            .group-a{
                display: flex;
                
                a{
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: unset;
                    font-size: 15px;
    
                    &:not(:last-of-type){
                        margin-right: 10px;
                    }
    
                    &.face{
                        background-color: #365b98;
                    }
    
                    &.insta{  
                        background-color: #8a3ab9;
                    }
    
                    &.link{  
                        background-color: #007ab5;
                    }
    
                    &.you{
                        background-color: #fe0008;
                    }
                }
            }
        }
    }

    .bot{
        display: flex;
        justify-content: space-between;
        margin: 50px auto;  
        font-size: 1.2em;  
        color: rgba(0, 0, 0, 0.5);

        .right{
            display: flex;
            align-items: center;
            span{
                
                &:not(:last-of-type){
                    margin-right: 20px;
                }
            }

            .language{
                .dropdown-toggle{
                    text-transform: uppercase;
                    cursor: pointer;
                    font-size: 15px;
                }
                .dropdown-menu{
                    border: 0;
                    box-shadow: 0 3px 12px rgba(27,31,35,.15), 0 0 1px rgba(27,31,35,.2);
                    .dropdown-item{
                        height: 50px;
                        display: flex;
                        align-items: center;
                        font-size: 14px;
                        cursor: pointer;
                        &:active{
                            background-color: #22222d;
                            color: #FFFFFF;
                        }
                        img{
                            margin-right: 6px;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 767.98px){

        .top{
            display: none;
        }

        .mid{
            height: auto;
            padding: 80px 0;

            .container{
                flex-direction: column;
                justify-content: center;

                .left{
                    flex-direction: column;
                    font-size: 8px;

                    img{
                        margin: 0 0 50px 100px;
                    }

                    p{
                        text-align: center;
                    }
                }

                .group-a{
                    margin-top: 65px;
                }
            }
        }

        .bot{
            justify-content: center;

            .right{
                display: none;
            }
        }
    }

    @media (max-width: 991.98px){
        
        .top{
            font-size: 8px;
        }

        .mid{

            .left{

                img{
                    margin-right: 100px !important;
                }
            }
        }
    }
}