<footer>
    <div class="top container">
        <div class="row">
            <nav class="col-3">
                <ul>
                    <li rel="noopener noreferrer">A Colibri</li>
                    <li><a ui-sref="sub">{{'MENU_US'|translate}}</a></li>
                    <li><a target="_blank" href="{{$root.getCurrentEnvironment().BLOG_URL}}">Blog</a></li>
                    <li><a ui-sref="contact">{{'MENU_CONTACT'|translate}}</a></li>
                    <li><a ui-sref="contact">{{'FOOTER_WORK_WITH_US'|translate}}</a></li>
                </ul>
            </nav>
            <nav class="col-3" ng-repeat="ambi in vm.filters | limitTo: 3">
                <ul>
                    <li rel="noopener noreferrer">{{ambi.nome}}</li>
                    <li ng-repeat="cat in ambi.categoriaproduto">
                        <a href="produtos/{{ambi.slug}}/{{cat.slug}}">
                            {{cat.nome}}
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="mid">
        <div class="container">
            <div class="left">
                <img src="/assets/images/logo-colibri.png" alt="">
                <p class="informations">
                    Rua Rouxinol, 5530 - Pq. Industrial IV
                    Arapongas . Paraná . Brasil
                    contato@colibrimoveis.com.br
                </p>
            </div>
            <div class="group-a">
                <a href="https://www.facebook.com/colibrimoveis/" class="face"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/colibrimoveis/" class="insta"><i class="fab fa-instagram"></i></a>
                <a href="https://www.linkedin.com/company/colibri-moveis-do-brasil/" class="link"><i
                        class="fab fa-linkedin-in"></i></a>
                <a href="https://www.youtube.com/user/ColibriMoveis" class="you"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </div>
    <div class="bot container">
        <span class="left">Colibri - Indústria e Comércio de Móveis LTDA</span>
        <div class="right">
            <span>{{'FOOTER_SITE_MAP'|translate}}</span>
            <span>{{'FOOTER_POLICY'|translate}}</span>
            <span>/</span>
            <div class="language">
                <a class="btn dropdown-toggle" role="button" id="dropdownMenuLanguage" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-globe"></i> {{currentLanguage}}
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLanguage">
                    <a class="dropdown-item" ng-click="changeLanguage('pt')"><img src="https://flagcdn.com/w40/br.png">
                        <div class="title">Português</div>
                    </a>
                    <a class="dropdown-item" ng-click="changeLanguage('en')"><img src="https://flagcdn.com/w40/us.png">
                        <div class="title">English</div>
                    </a>
                    <a class="dropdown-item" ng-click="changeLanguage('es')"><img src="https://flagcdn.com/w40/es.png">
                        <div class="title"></div>Español
                </div></a>
            </div>
        </div>
    </div>
    </div>
</footer>