section {
    font-size: 10px;
}

#banner {
    .top {
        display: flex;

        .left,
        .right {
            flex: 0 0 50%;
            height: 550px;
        }

        .left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            // align-items: center;
            position: relative;

            padding: 0 0 0 20vw;
            @media (max-width: 1600px) {
                padding: 0 0 0 9.4vw;
            }
            // &:before {
            //     content: "→";
            //     position: absolute;
            //     width: 80px;
            //     height: 80px;
            //     box-shadow: 5px 0px 20px 0 rgba(0, 0, 0, 0.2);
            //     background-color: #ffffff;
            //     right: -40px;
            //     border-radius: 50%;
            //     display: flex;
            //     align-items: center;
            //     justify-content: center;
            //     font-size: 40px;
            //     padding-top: 8px;
            // }

            .breadcrumb,
            h1,
            p {
                width: 475px;
            }

            .breadcrumb {
                background-color: transparent;
                padding: 0;
                margin-bottom: 30px;
                font-size: 14px;
                .breadcrumb-item {
                    color: #22222d !important;

                    &:not(:first-of-type):before {
                        content: "⟶";
                        font-weight: bold;
                    }

                    a {
                        color: #22222d !important;
                        font-weight: 300;
                    }
                }
            }

            h1 {
                font-size: 3.8em;
                color: #22222d;
                letter-spacing: -0.85px;
                margin-bottom: 50px;
                font-weight: 400;
            }

            p {
                font-size: 1.6em;
                line-height: 1.55;
                color: rgba(0, 0, 0, 0.85);
                width: 475px;
                margin-bottom: 0px;
            }
        }

        .right {
            width: 50%;
            object-fit: cover;
            object-position: center;
        }
    }

    .bottom {
        display: flex;

        .left,
        .right {
            flex: 0 0 50%;
            height: 550px;
        }

        .left {
            width: 50%;
            object-fit: cover;
            object-position: center;
        }

        .right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;

            // padding: 0 20vw 0 0;
            // @media (max-width: 1600px) {
            //     padding: 0 10vw 0 0;
            // }
            // &:before {
            //     content: "→";
            //     position: absolute;
            //     width: 80px;
            //     height: 80px;
            //     box-shadow: 5px 0px 20px 0 rgba(0, 0, 0, 0.2);
            //     background-color: #ffffff;
            //     left: -40px;
            //     border-radius: 50%;
            //     display: flex;
            //     align-items: center;
            //     justify-content: center;
            //     font-size: 40px;
            //     padding-top: 8px;
            // }

            h2,
            p {
                width: 475px;
            }

            h2 {
                font-size: 3em;
                color: #22222d;
                letter-spacing: -0.85px;
                margin-bottom: 50px;
                font-weight: 400;
            }

            p {
                font-size: 1.6em;
                line-height: 1.55;
                color: rgba(0, 0, 0, 0.85);
                width: 475px;
                margin-bottom: 0px;
            }
        }
    }
}

#featured {
    padding: 95px 0;
    background-color: #f5f5f5;

    h1 {
        font-size: 3.8em;
        letter-spacing: -0.85px;
        color: #22222d;
        margin-bottom: 50px;
        font-weight: 400;
    }

    .bottom {
        display: flex;

        p {
            flex: 0 0 calc(50% - 75px);
            font-size: 1.6em;
            line-height: 1.55;
            color: rgba(0, 0, 0, 0.85);
            margin-bottom: 0px;

            &:first-of-type {
                margin-right: 150px;
            }
        }
    }
}

catalog-product-diretive.catalog{
    display: block;
    background: #f5f5f5;
}

@media (max-width: 991.98px) {
    #banner{

        .top, .bottom{

            h1, h2, p, ol{
                max-width: 720px;
                width: 100% !important;
                padding: 0 15px !important;
            }
        }

        .top img, .bottom img{
            max-height: 40vw;
        }

        .top{
            flex-direction: column;
            position: relative;

            .left{
                margin: 40px 0;
                position: static;

                &:before{
                    right: 30px;
                    bottom: 30px;
                    width: 60px;
                    height: 60px;
                }
            }

            .right{
                width: 100%;
            }
        }

        .bottom{
            flex-direction: column-reverse;
            position: relative;

            .left{
                width: 100%;
            }

            .right{
                margin: 40px 0;
                position: static;
                
                &:before{
                    left: unset;
                    right: 30px;
                    bottom: 30px;
                    width: 60px;
                    height: 60px;
                }
            }
        }
    }

    #featured{

        .bottom{
            flex-direction: column;

            .left{
                margin: 0 0 30px 0 !important;
            }
        }
    }
}

@media (max-width: 767.98px) {
    
    #banner{

        .top, .bottom{

            h1, h2, p, ol{
                max-width: 540px;
            }
        }
    }
}

@media (max-width: 575.98px){
    #banner{

        .top, .bottom{

            h1, h2, p, ol{
                max-width: unset;
            }
        }

        .top img, .bottom img{
            max-height: 370px;
        }
    }
}