<section id="banner" ng-if="vm.viewable">
    <div class="top">
        <div class="left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">home</a></li>
                <li class="breadcrumb-item active" style="text-transform: lowercase;">{{'MENU_ABOUT'|translate}}</li>
            </ol>
            <h1>{{vm.params.title_1}}</h1>
            <p>
                {{vm.params.subtitle_1}}
            </p>
        </div>
        <img class="right" ng-src="{{vm.url + vm.images.img_6_link}}" alt="">
    </div>
    <div class="bottom">
        <img class="left" ng-src="{{vm.url + vm.images.img_7_link}}" alt="">
        <div class="right">
            <h2>{{vm.params.title_2}}</h2>
            <p>
                {{vm.params.subtitle_2}}
            </p>
        </div>
    </div>
</section>

<section id="featured">
    <div class="container">
        <h1>{{'ABOUT_SECTION_3_TITLE'|translate}}</h1>
        <div class="bottom">
            <p class="left">
                {{'ABOUT_SECTION_3_TEXT_1'|translate}}
            </p>
            <p class="right">
                {{'ABOUT_SECTION_3_TEXT_2'|translate}}
            </p>
        </div>
    </div>
</section>

<!-- <phrase-diretive 
    title="A natureza foi nossa <br/>inspiração."
    phrase="E às águas brasileiras rendemos nossa homenagem. Cada produto leva o nome de uma delas e a beleza de todas."
></phrase-diretive>

<catalog-product-diretive class="catalog" title="Conheça nossos produtos."
    description="Nosso produto pode ser perfeito pra você! <br>Que tal conhecê‐los?" products="vm.products">
</catalog-product-diretive> -->

<catalog-blog-diretive title="{{'BLOG_TITLE'|translate}}" description="{{'BLOG_TEXT'|translate}}"></catalog-blog-diretive>

<news-diretive></news-diretive>