$height: 115px;

navbar-diretive{
    display: block;
    position: fixed;
    width: 100%;
    background-color: transparent;
    top: 0;
    font-size: 10px;
    z-index: 9999;
    transition: background 300ms;

    &.invert{
        background-color: #22222d;

        nav{

            img{
                filter: brightness(0) invert(1);
                
            }

            .navigation{

                .dropdown{
    
                    .dropdown-toggle{
                        color: white;
                    }
                }
            }
        }
    }

    nav{
        display: flex;  
        height: $height;
        justify-content: space-between;
        align-items: center;

        img{
            cursor: pointer;
            filter: brightness(0.5) invert(0);
        }

        ul{
            margin: 0;
            display: flex;
            align-items: center;

            li{
                list-style: none;
            }
        }

        .navigation{
            margin-right: 290px;
            padding-top: 3px;

            .dropdown{

                &:not(:last-of-type){
                    margin-right: 50px;
                }

                .dropdown-toggle{

                    &:after{
                        content: none;
                    }

                    i{
                        margin-left: 10px;
                        font-size: 0.8em;
                    }

                    color: #242635;
                    text-decoration: none;
                    font-size: 1.6em;
                    display: flex;
                    align-items: center;
                }
            }

            @media (max-width: 991.98px){
                display: none;
            }
        }

        .menu{

            li{
                width: 40px;
                height: 40px;
                box-shadow: 10px 20px 40px 0 rgba(0, 0, 0, 0.1);
                background-color: #ffffff;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                font-size: 1.6em;

                cursor: pointer;
                a{  
                    color: #000000;
                    text-decoration: none;
                    display: flex;
                    justify-content: center;
                    i{
                        font-weight: 650;
                    }
                    img{
                        border-radius: 40px;
                        height: 27px;
                        filter: brightness(1) invert(0);
                    }
                }

                &:not(:last-of-type){
                    margin-right: 15px;
                }

                @media (max-width: 575.98px){
                    width: 35px;
                    height: 35px;
                    font-size: 1.4em;
                }
            }
        }
    }
}

// main{
//     margin-top: $height;
// }