<nav class="container normal">
    <img class="img" src="../../assets/img/logo.png" alt="Logo" width="94" onclick="window.location.href='/'">
    <div id="menu" class="menu">

        <ul class="navigation">
            <li rel="noopener noreferrer" class="dropdown">
                <a class="dropdown-toggle" role="button" id="dropdownMenuLink1" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style="cursor: pointer;">
                    {{'MENU_ABOUT'|translate}}
                    <i class="fas fa-chevron-down"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
                    <a ng-click="close()" class="dropdown-item" href="/sobre">{{'MENU_US'|translate}}</a>
                    <a ng-click="close()" class="dropdown-item" ui-sref="contact">{{'MENU_CONTACT'|translate}}</a>
                </div>
            </li>
            <li rel="noopener noreferrer" class="dropdown">
                <a ng-click="close()" class="dropdown-toggle" href="/produtos/all/all/all" role="button"
                    id="dropdownMenuLink2" aria-haspopup="true" aria-expanded="false">
                    {{'MENU_PRODUCT'|translate}}
                    <i class="fas fa-chevron-down"></i>
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink2">
                    <a ng-repeat="cat in vm.filters" class="dropdown-item"
                        href="produtos/{{cat.id}}/all/all">{{cat.nome}}</a>
                </div>
            </li>
            <li rel="noopener noreferrer" class="dropdown">
                <a ng-click="close()" class="nondrop-blog" target="_blank"
                    href="{{$root.getCurrentEnvironment().BLOG_URL}}" role="button" id="dropdownMenuLink3"
                    aria-haspopup="true" aria-expanded="false">
                    Blog
                </a>
            </li>
        </ul>


        <ul class="buttons base">
            <li rel="noopener noreferrer images" class="search">
                <form>
                    <a>
                        <input required="true" ng-class="{'active':vm.search}" id="nav-search" autofocus
                            ng-model-options="{ debounce: 400 }" type="text" ng-model="vm.search" ng-change="vm._search()">
                        <button ng-click="buscar()" type="submit"><img src="../../assets/img/search.png" alt=""></button>
                    </a>
                </form>
            </li>
            <li rel="noopener noreferrer images">
                <a href="https://apps.colibrimoveis.com.br:5789/f3iConnect/app/login.faces;jsessionid=8B51859A3DBA128F252F35C973F29E8B"
                    target="_blank">
                    <button><img src="../../assets/img/user.png" alt=""></button>
                </a>
            </li>
            <div class="idioma">
                <a class="btn dropdown-toggle" role="button" id="dropdownMenuLanguage" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-globe"></i> {{currentLanguage}}
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLanguage">
                    <a class="dropdown-item item-idioma" ng-click="changeLanguage('pt')">
                        <img class="item-bandeira" src="https://www.countryflags.io/br/flat/32.png">
                        <span class="title">Português</span>
                    </a>
                    <a class="dropdown-item item-idioma" ng-click="changeLanguage('en')">
                        <img class="item-bandeira" src="https://www.countryflags.io/us/flat/32.png">
                        <span class="title">English</span>
                    </a>
                    <a class="dropdown-item item-idioma" ng-click="changeLanguage('es')">
                        <img class="item-bandeira" src="https://www.countryflags.io/es/flat/32.png">
                        <span class="title">Español</span>
                    </a>
                </div>
            </div>
        </ul>

        <ul ng-if="vm.isMobile" class="mobile">
            <div id="accordion">
                <div class="input">
                    <!-- <div>
                        <input id="nav-search" type="text" ng-model="vm.search" ng-change="vm._search()">
                        <img ng-click="buscar()" src="../../assets/img/search.png" alt="">
                    </div> -->
                    <form>
                        <a>
                            <input id="nav-search" autofocus
                                ng-model-options="{ debounce: 400 }" type="text" ng-model="vm.search" ng-change="vm._search()">
                            <button ng-click="buscar()" type="submit"><img src="../../assets/img/search.png" alt=""></button>
                        </a>
                    </form>
                </div>
                <div class="obj">
                    <div class="card-header" id="headingOne" class="btn btn-link" data-toggle="collapse"
                        data-target="#collapseSobre" aria-expanded="true" aria-controls="collapseSobre">
                        {{'MENU_ABOUT'|translate}}
                        <i class="fas fa-chevron-down"></i>
                    </div>

                    <div id="collapseSobre" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <a ng-click="close()" class="dropdown-item" href="/sobre">{{'MENU_US'|translate}}</a>
                            <a ng-click="close()" class="dropdown-item"
                                ui-sref="contact">{{'MENU_CONTACT'|translate}}</a>
                        </div>
                    </div>
                </div>

                <div class="obj">
                    <div class="card-header" id="headingOne" class="btn btn-link" data-toggle="collapse"
                        data-target="#collapseProduto" aria-expanded="true" aria-controls="collapseProduto">
                        {{'MENU_PRODUCT'|translate}}
                        <i class="fas fa-chevron-down"></i>
                    </div>

                    <div id="collapseProduto" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <a ng-click="close()" ng-repeat="cat in vm.filters" class="dropdown-item"
                                href="produtos/{{cat.id}}/all/all">{{cat.nome}}</a>
                        </div>
                    </div>
                </div>

                <div class="obj">
                    <a href="{{$root.getCurrentEnvironment().BLOG_URL}}" target="_blank" class="card-header">
                        Blog
                        <i class="fas fa-chevron-down"></i>
                    </a>
                </div>

                <div class="obj">
                    <div class="card-header" id="headingOne" class="btn btn-link" data-toggle="collapse"
                        data-target="#collapseIdioma" aria-expanded="true" aria-controls="collapseIdioma">
                        Idiomas
                        <i class="fas fa-chevron-down"></i>
                    </div>

                    <div id="collapseIdioma" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <a class="item-idioma" ng-click="changeLanguage('pt')">
                                <img class="item-bandeira" src="https://www.countryflags.io/br/flat/32.png">
                                <span class="title">Português</span>
                            </a>
                            <a class="item-idioma" ng-click="changeLanguage('en')">
                                <img class="item-bandeira" src="https://www.countryflags.io/us/flat/32.png">
                                <span class="title">English</span>
                            </a>
                            <a class="item-idioma" ng-click="changeLanguage('es')">
                                <img class="item-bandeira" src="https://www.countryflags.io/es/flat/32.png">
                                <span class="title">Español</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="obj">
                    <a href="https://apps.colibrimoveis.com.br:5789/f3iConnect/app/login.faces;jsessionid=8B51859A3DBA128F252F35C973F29E8B"
                        target="_blank" class="card-header">
                        Minha Conta
                        <i class="fas fa-chevron-down"></i>
                    </a>
                </div>
            </div>
        </ul>

        <ul ng-if="vm.isMobile" class="buttons extra">
            <img class="img" src="../../assets/img/logo.png" alt="Logo" width="94" onclick="window.location.href='/'">
            <li class="menu-toggle" rel="noopener noreferrer images">
                <a ng-click="open()">
                    <i ng-if="!vm.menuOpen" class="fas fa-bars"></i>
                    <i ng-if="vm.menuOpen" class="fas fa-times"></i>
                </a>
            </li>
        </ul>

    </div>
</nav>