$height: 90px;
@keyframes dropdown-display {
    0% {
        opacity: 0;
        transform: scale(0.98) translateY(-0.6em);
    }
    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

.invertido {
    background-color: #22222d !important;
    nav {
        .img {
            filter: brightness(0) invert(1) !important;
        }
        .search:hover{
            border: none !important;
        }
        .navigation {
            .dropdown {
                .dropdown-toggle,
                .nondrop-blog {
                    color: white !important;
                    // cursor: pointer;
                }
            }
        }
        .menu {
            .images {
                img {
                    filter: brightness(1) invert(0) !important;
                }
            }
            #dropdownMenuLanguage {
                color: white !important;
                margin-left: -15px;
            }
        }
        @media (max-width: 991.98px) {
            .navigation {
                background: #22222d;
                .top {
                    width: 100%;
                    button {
                        color: white;
                    }
                }
            }
        }
    }
}

navbar-diretive {
    display: block;
    width: 100%;
    position: fixed;
    background-color: transparent;
    top: 0;
    font-size: 12px;
    z-index: 100;
    transition: background 300ms;
    background-color: #22222d;
    .item-bandeira {
        filter: brightness(1) invert(0) !important;
    }
    .item-idioma {
        display: flex;
        align-items: center;
        span {
            margin-left: 8px;
        }
    }

    &.invert {
        // background-color: white;
        transition: 0.2s;
        nav {
            img {
                filter: brightness(1) invert(0);
            }

            .navigation {
                .dropdown {
                    .dropdown-toggle,
                    .nondrop-blog {
                        color: #22222d;
                    }
                }
            }
        }
    }

    nav {
        display: flex;
        height: $height;
        justify-content: space-between;
        align-items: center;

        .img {
            cursor: pointer;
        }

        .menu {
            width: 80%;
            display: flex;
            justify-content: space-between;
            .navigation {
                list-style: none;
                display: flex;
                align-items: center;
                margin-bottom: 0;
                li {
                    a {
                        margin-right: 50px;
                        text-decoration: none;
                        padding: 5px 0;
                        i {
                            margin-left: 10px;
                        }

                        &::after {
                            content: none;
                        }
                    }
                }
                .dropdown {
                    &:hover {
                        .dropdown-menu {
                            display: block;
                        }
                    }
                    .dropdown-menu {
                        border: 0;
                        box-shadow: 0 3px 12px rgba(27, 31, 35, 0.15), 0 0 1px rgba(27, 31, 35, 0.2);
                        animation: dropdown-display 0.4s cubic-bezier(0.73, 0.005, 0.22, 1);
                        animation-duration: 0.4s;
                        animation-timing-function: cubic-bezier(0.73, 0.005, 0.22, 1);
                        animation-delay: 0s;
                        animation-iteration-count: 1;
                        animation-direction: normal;
                        animation-fill-mode: none;
                        animation-play-state: running;
                        animation-name: dropdown-display;
                        .dropdown-item {
                            height: 50px;
                            display: flex;
                            align-items: center;
                            font-size: 14px;
                            padding: 5px 20px;
                            &:active {
                                background-color: #22222d;
                                color: #ffffff;
                            }
                        }
                    }
                }
            }

            .buttons {
                list-style: none;
                display: flex;
                align-items: center;
                margin-bottom: 0;

                .search:hover{
                    border: 1px solid gray;
                }

                li {
                    margin-right: 15px;
                    padding: 5px;
                    box-shadow: 10px 20px 40px 0 rgba(0, 0, 0, 0.1);
                    background-color: #ffffff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 27px ;
                    font-size: 1.6em;
                    cursor: pointer;

                    button{
                        border: none;
                        background: none;
                    }

                    a{
                        display: flex;
                        input {
                            height: 23px;
                            width: 0px;
                            border-radius: inherit;
                            background: transparent;
                            border: none;
                            outline: none;
                            transition: 0.4s;
                            font-size: 14px;
                        }
                        &:hover > #nav-search{
                            padding: 0 10px;
                            width: 260px;
                        }

                        .active{
                            padding: 0 10px;
                            width: 260px;
                        }
                    }

                    .search_bar {
                        height: 55px;
                        transition: 300ms width, 300ms transform;
                        width: 55px;
                        opacity: 0;
                        background-color: white;
                        border-radius: 64px;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        position: relative;
                        &.active {
                            border-radius: 27px 27px 0px 0px;
                        }

                        .search {
                            font-size: 25px;
                            color: #d6377e;
                            margin: calc(30px / 2);
                        }
                    }
                    a {
                        img {
                            height: 24px;
                        }
                    }
                }

                .idioma {
                    cursor: pointer;
                    a {
                        display: flex;
                        align-items: center;
                        i {
                            margin-right: 4px;
                        }
                    }
                }
            }

            .extra {
                display: none;
            }
            .mobile {
                display: none;
            }

            @media (max-width: 991.98px) {
                justify-content: flex-end;
                .navigation {
                    display: none;
                }

                .buttons {
                    display: none;
                }

                .extra {
                    display: flex;
                    img {
                        display: none;
                    }
                    li {
                        padding: 1px 0px 0 0;
                        height: 40px;
                        width: 40px;
                        margin-right: 0;
                        i {
                            color: rgb(112, 112, 112);
                        }
                    }
                }
            }
        }

        .menu-open {
            @media (max-width: 991.98px) {
                background: #22222d;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 101;
                flex-direction: column-reverse;
                .mobile {
                    display: flex;


                    #accordion {
                        width: 100%;
                        background: #22222d;


                        .input{
                            padding: 40px 5%;
                            div{
                                display: flex;
                            }
                            button{
                                width: 30px;
                                height: 30px;
                                border-radius: 0px 26px 26px 0px;
                                border: none;
                            }
                            img{
                                width: 25px;
                                height: 25px;
                                border-radius: 0px 26px 26px 0px;
                            }
                            input{
                                border-radius: 26px 0px 0px 26px;

                                width: 100%;
                                padding: 5px 10px;
                                outline: none;
                                border: none;
                            }
                            form{
                                a{
                                    display: flex;
                                }
                            }

                        }

                        .obj {
                            border-radius: 0;
                            background: #22222d;
                            .card-header {
                                background: #22222d;
                                border-radius: 0;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                padding: 0 5%;
                                height: 50px;
                                color: white;
                                text-decoration: none;

                                // i{
                                //     margin-right: 15px;
                                // }
                            }
                            .card-body {
                                padding: 0 10%;
                                a {
                                    display: flex;
                                    align-items: center;
                                    height: 50px;
                                    color: white;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }

                .extra {
                    height: 90px;
                    border-bottom: 1px solid #2e2e3a;
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    padding-right: 15px;
                    padding-left: 15px;
                    margin-right: auto;
                    margin-left: auto;
                    img {
                        display: flex;
                        filter: brightness(0) invert(1) !important;
                    }
                }
            }
        }
    }
    #dropdownMenuLanguage {
        color: #22222d;
        margin-left: -15px;
        font-size: 14px;
    }

}

.in-home {
    background: #fff;
				border-bottom: solid 2px #eeeeee;
    input{
        border-bottom: 1px solid gray;
    }
    .active{
    }
}

.out-home {
    .img {
        filter: brightness(0) invert(1) !important;
    }

    .search:hover{
        border: none;
    }

    .navigation {
        .dropdown {
            .dropdown-toggle,
            .nondrop-blog {
                color: white !important;
                // cursor: pointer;
            }
        }
    }
    .menu {
        .images {
            img {
                filter: brightness(1) invert(0) !important;
            }
        }
        #dropdownMenuLanguage {
            color: white !important;
            margin-left: -15px;
        }
    }
    @media (max-width: 991.98px) {
        .navigation {
            background: #22222d;
            .top {
                width: 100%;
                button {
                    color: white;
                }
            }
        }
    }
}
