<section id="sidebar" ng-class="{'active' : active}">
	<div class="menu">
		<div class="menu-title">Categorias</div>
		<a class="menu-item" ng-repeat="cat in categories" href="/blog/category/{{cat.slug}}">{{cat.nome}}</a>
	</div>

	<div ng-click="toggleActive()" class="btn-toggle">
		<svg
			viewBox="0 0 150 150"
			class="not-mobile"
		>
			<g>
				<rect x="0" y="0" width="150" height="30" />
				<rect x="0" y="60" width="150" height="30" />
				<rect x="0" y="120" width="150" height="30" />
			</g>
		</svg>

		<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#22222d" class="bi bi-chevron-right mobile" viewBox="0 0 16 16">
			<path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
	</svg>
	</div>
</section>
