sidebar-diretive {
				#sidebar {
								height: 100vh;
								width: 330px;
								position: fixed;
								z-index: 200;
								display: flex;
								left: -250px;
								top: 0px;
								transition: left 0.2s ease-out;

								.mobile {
									display: none;
								}

								.not-mobile {
									display: block;
								}

								.menu, .btn-toggle {
									background-color: #eee;
									// box-shadow: 3px 2px 4px #00000060;
								}

								.menu {
									padding-top: 20px;
									color: #22222d;
									height: 100%;
									width: 250px;
									overflow-x: hidden;
									overflow-y: auto;

									display: flex;
									flex-direction: column;

									a {
										text-decoration: none;

										&:hover {
											text-decoration: none;
										}
									}

									.menu-item {
										color: #22222d;
										padding: 10px 20px;
										font-size: 14px;
										cursor: pointer;
										// transition: textShadow 0.3s linear, fontSize 0.3s linear;

										&:hover {
											text-shadow: 0px 0px 3px #ffffffaa;
											font-size: 15px;
										}
									}

									.menu-title:not(:first-child) {
										margin-top: 30px;
									}
									.menu-title {
										font-size: 24px;
										font-weight: 500;
										padding: 10px;
									}


									/* width */
									&::-webkit-scrollbar {
										width: 10px;
									}

									/* Track */
									&::-webkit-scrollbar-track {
										background: #00000010;
									}

									/* Handle */
									&::-webkit-scrollbar-thumb {
										background: #fff;
										border-radius: 8px;
									}

									/* Handle on hover */
									&::-webkit-scrollbar-thumb:hover {
										background: #aaa;
									}
								}

								.btn-toggle {
									margin-top: 20px;
									padding: 10px 10px 10px 15px;
									height: 50px;
									width: 50px;
									border-top-right-radius: 10px;
									border-bottom-right-radius: 10px;
									display: flex;
									justify-content: center;
									align-items: center;
									cursor: pointer;

									svg {
										fill: #22222d;
										transition: transform 0.2s 0.2s linear;
									}
								}


								&.active {
									left: 0px;

									.btn-toggle {
										width: 50px;
										padding: 10px 10px 10px 10px;
									}
								}

								@media (max-width: 991px) {
									height: calc(100vh - 90px);
									top: 90px;
									z-index: 90;
									align-items: center;

									.btn-toggle {
										background-color: #eeeeeeed;
										svg {
											transition: transform 0.2s linear;
										}
									}

									&.active {
										.btn-toggle {
											svg {
												transform: rotate(180deg);
											}
										}
									}

									.mobile {
										display: block;
									}

									.not-mobile {
										display: none;
									}
								}
				}
}
