<section class="banner">
    <div class="top">
        <div class="left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a ui-sref="home">home</a></li>
                <li class="breadcrumb-item active" style="text-transform: lowercase;">{{'MENU_CONTACT'|translate}}</li>
            </ol>
            <h1>{{'MENU_CONTACT'|translate}}</h1>
            <p>
                {{'CONTACT_SECTION_1_TEXT'|translate}}
            </p>
        </div>
        <img class="right" src="../../assets/img/fabrica.jpg" alt="">
    </div>
</section>

<section class="quest">
    <h1>{{'CONTACT_SECTION_2_TEXT'|translate}}</h1>
</section>

<section class="contact">
    <section class="email">
        <h1>{{'CONTACT_EMAIL_TITLE'|translate}}</h1>
        <p>
            {{'CONTACT_EMAIL_TEXT'|translate}}
        </p>
        <h2 onclick="location.href='mailto:contato@colibrimoveis.com.br'">contato@colibrimoveis.com.br</h2>
        <h2 onclick="location.href='tel:4332758600'">(43) 3275-8600</h2>
        
        <!-- <button onclick="location.href='mailto:contato@colibrimoveis.com.br'"><span>Entre em contato</span> <span>⟶</span></button> -->
    </section>
    <section class="phone">
        <h1>{{'CONTACT_PHONE_TITLE'|translate}}</h1>
        <p>
            {{'CONTACT_PHONE_TEXT'|translate}}
        </p>
        <h2 onclick="location.href='mailto:rh@colibrimoveis.com.br'">rh@colibrimoveis.com.br</h2>
    </section>
    <section class="chat">
        <h1>Chat</h1>
        <p>
            {{'CONTACT_CHAT_TEXT'|translate}}
        </p>
        <button><span>{{'CONTACT_CHAT_BUTTON'|translate}}</span> <span>⟶</span></button>
    </section>
</section>

<div id="maps" style="height: 490px;"></div>

<phrase-diretive title="{{'CONTACT_SECTION_3_TITLE'|translate}}" phrase="
    Rua Rouxinol, 5530 / Pq. Industrial IV<br>
    CEP 86.706-418<br>
    Arapongas / Paraná / Brasil
    "></phrase-diretive>

<news-diretive></news-diretive>