<section class="banner">
    <div class="top">
        <div class="left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a ui-sref="home">home</a></li>
                <li class="breadcrumb-item active" style="text-transform: lowercase;">{{'MENU_CONTACT'|translate}}</li>
            </ol>
            <h1>{{'MENU_CONTACT'|translate}}</h1>
            <p>
                {{'CONTACT_SECTION_1_TEXT'|translate}}
            </p>
        </div>
        <img class="right" src="../../assets/img/fabrica.jpg" alt="">
    </div>
</section>

<section class="quest">
    <h1>{{'CONTACT_SECTION_2_TEXT'|translate}}</h1>
</section>

<section class="contact">
    <section class="email">
        <h1>{{'CONTACT_EMAIL_TITLE'|translate}}</h1>
        <p>
            {{'CONTACT_EMAIL_TEXT'|translate}}
        </p>
        <h2 onclick="location.href='mailto:contato@colibrimoveis.com.br'">contato@colibrimoveis.com.br</h2>
        <h2 onclick="location.href='tel:4332758600'">(43) 3275-8600</h2>
        
        <!-- <button onclick="location.href='mailto:contato@colibrimoveis.com.br'"><span>Entre em contato</span> <span>⟶</span></button> -->
    </section>
    <section class="phone">
        <h1>{{'CONTACT_PHONE_TITLE'|translate}}</h1>
        <p>
            {{'CONTACT_PHONE_TEXT'|translate}}
        </p>
        <h2 onclick="location.href='mailto:rh@colibrimoveis.com.br'">rh@colibrimoveis.com.br</h2>
    </section>
    <section class="chat">
        <h1>Chat</h1>
        <p>
            {{'CONTACT_CHAT_TEXT'|translate}}
        </p>
        <button ng-click="showChat()"><span>{{'CONTACT_CHAT_BUTTON'|translate}}</span> <span>⟶</span></button>
    </section>
</section>

<iframe style="border: 0px; width: 100%; height: 490px; margin: -5px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3660.059324874322!2d-51.42910998451757!3d-23.458324484734096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94eca1f6c7a2f84b%3A0x17b1e296c7ded22b!2sColibri+M%C3%B3veis!5e0!3m2!1spt-BR!2sbr!4v1548704341989"></iframe>

<phrase-diretive title="{{'CONTACT_SECTION_3_TITLE'|translate}}" phrase="
    Rua Rouxinol, 5530 / Pq. Industrial IV<br>
    CEP 86.706-418<br>
    Arapongas / Paraná / Brasil
    "></phrase-diretive>

<news-diretive></news-diretive>