<section class="banner">
    <div class="top">
        <div class="left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">home</a></li>
                <li class="breadcrumb-item"><a href="#">sobre</a></li>
                <li class="breadcrumb-item active">fale conosco</li>
            </ol>
            <h1>Fale Conosco</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in consequat mauris. Pellentesque
                rhoncus mi tempus lacinia facilisis. Nam pretium, nisl vitae viverra rhoncus, massa arcu mollis ligula,
                et feugiat lorem libero non augue. Nunc erat diam, pharetra ornare iaculis in, dapibus varius arcu.
            </p>
        </div>
        <img class="right" src="../../assets/img/contact.png" alt="">
    </div>
</section>

<section class="quest">
    <h1>Como você prefere falar com a gente?</h1>
</section>

<section class="contact">
    <section class="email">
        <h1>E-mail</h1>
        <p>
            Tem alguma dúvida? Podemos te ajudar pelo nosso canal de e-mail!
        </p>
        <button>Entre em contato ⟶</button>
    </section>
    <section class="phone">
        <h1>Telefone</h1>
        <p>
            Você pode ligar no horário comercial:
        </p>
        <h2>0800 300 4050</h2>
    </section>
    <section class="chat">
        <h1>Chat</h1>
        <p>
            Precisa de uma ajuda agora? Entre em contato com nosso atendimento.
        </p>
        <button>Entrar no chat ⟶</button>
    </section>
</section>

<phrase-diretive title="Onde estamos?" phrase="
    Rua Rouxinol, 5530 / Pq. Industrial XI<br>
    CEP 86.706-418<br>
    Arapongas / Paraná / Brasil
    "></phrase-diretive>

<news-diretive></news-diretive>