<section class="products container">
    <div class="left">
        <h1 ng-bind-html="vm.title"></h1>
        <p ng-bind-html="vm.description"></p>
    </div>
    <div class="mid">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide product" ng-repeat="product in vm.products">
                    <img src="{{product.img}}" alt="" style="max-width: 270px; max-width: 270px;">
                    <h2>{{product.name}}</h2>
                    <h3>{{product.location}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="right">
        <button>todos os produtos ⟶</button>
    </div>
    <div class="list row">
        <div class="col-3 product" ng-repeat="product in vm.products">
            <img src="{{product.img}}" alt="" style="max-width: 270px; max-width: 270px;">
            <h2>{{product.name}}</h2>
            <h3>{{product.location}}</h3>
        </div>
    </div>
</section>