<section class="products container">
    <div class="left">
        <h1 ng-bind-html="vm.title"></h1>
        <p ng-bind-html="vm.description"></p>
    </div>
    <div class="mid">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide product" ui-sref="product({ambient: product.slug_ambiente, category: product.slug_categoria, slug: product.slug_produto, id: product.id})" ng-repeat="product in vm.products">
                    <img src="{{$root.SERVER_URL}}/upload/uploads/download/{{product.produto_imagem}}" alt="" style="width: 100%; height: 270px; object-fit: cover;">
                    <h2>{{product.nome}}</h2>
                    <h3>{{product.ambiente.nome}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="right">
        <button ui-sref="catalogFind({'ambiente': 'all', 'tipo': 'all', busca: 'all'})"><span>{{'HOME_PRODUCTS_BUTTON'|translate}}</span><span>⟶</span></button>
    </div>
    <div class="list row">
        <div class="col-3 product mw-100" ui-sref="product({ambient: product.slug_ambiente, category: product.slug_categoria, slug: product.slug_produto, id: product.id})" ng-repeat="product in vm.products">
            <img src="{{$root.SERVER_URL}}/upload/uploads/download/{{product.produto_imagem}}" alt="" style="width: 100%; height: 270px; object-fit: cover;">
            <h2>{{product.nome}}</h2>
            <h3>{{product.ambiente.nome}}</h3>
        </div>
    </div>
</section>