<div class="swal-modal-contato">
    <form class="content">
        <div class="logo">
            {{'CONTACT_MODAL_TITLE'|translate}}
        </div>
        <div class="text">
            {{'CONTACT_MODAL_SUBTITLE'|translate}}
        </div>
        <div class="inputs">
            <input required="true" ng-model="data.nome" type="text" placeholder="{{'CONTACT_MODAL_PLACE_NAME'|translate}}">
            <input required="false" ng-model="data.cpfcnpj" maxlength="20" type="text" placeholder="CPF ou CNPJ">
            <input required="true" ng-model="data.email" type="text" placeholder="E-mail">
            <!-- <input required="true" ng-model="data.telefone" ui-mask="(99) 9 9999-9999" ui-mask-placeholder-char="space" type="text"> -->
            <input required="true" ng-model="data.telefone" maxlength="11" type="text" placeholder="{{'CONTACT_MODAL_PLACE_TEL'|translate}}">
            <textarea required="true" ng-model="data.mensagem" placeholder="{{'CONTACT_MODAL_PLACE_MENSAGE'|translate}}"></textarea>
            
        </div>
        <div class="buttons">
            <button ng-click="enviar()">{{'CONTACT_MODAL_BUTTON'|translate}}</button>
        </div>
    </form>
</div>