<section id="product">
    <div class="top">
        <div class="left">
            <div class="d-flex flex-column align-items-start content">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">home</a></li>
                    <li class="breadcrumb-item" style="text-transform: lowercase;"><a href="#">{{'MENU_PRODUCT'|translate}}</a></li>
                    <li class="breadcrumb-item"><a href="#">{{vm.produto.categoriaproduto.ambiente.nome.toLowerCase()}}</a></li>
                    <li class="breadcrumb-item active">{{vm.produto.categoriaproduto.nome.toLowerCase()}}</li>
                </ol>
                <h1>{{vm.produto.nome}}</h1>
                <span class="cod">cod. {{vm.produto.codigo}}</span>
                <button class="release" ng-show="vm.produto.lancamento">{{'PRODUCT_RELEASE'|translate}}</button>
                <div class="colors">
                    <span>{{'PRODUCT_COLORS'|translate}}:</span>
                    <label class="color" ng-repeat="(key, value) in vm.produto.produtocor" title="{{value.descricao}}">
                        <input type="radio" name="f_color" ng-model="vm.cor" ng-click="vm.changeColor(value)" ng-value="key">
                        <span class="checkmark" ng-style="{'background-color' : value.cor}" ></span>
                    </label>
                </div>
                <span class="have">{{'PRODUCT_HAVE_PRODUCT'|translate}}</span>
                <button class="request">{{'PRODUCT_GET_BUDGET'|translate}}</button>
            </div>
        </div>
        <div class="right">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <img class="swiper-slide"
                        ng-src="{{$root.SERVER_URL}}/upload/uploads/download/{{imagem.arquivo}}"
                        alt="Foto de {{vm.produto.nome}}" ng-repeat="imagem in vm.produto.produtocor[vm.cor].produtoimagem">
                </div>
            </div>
            <div class="bottom">
                <span class="init">01</span>
                <div class="swiper-pagination"></div>
                <span class="end">{{(vm.produto.produtocor[vm.cor].produtoimagem.length).toString().padStart(2, "0");}}</span>
                <div class="prev-next">
                    <div class="swiper-button-prev">
                        <!-- <i class="fas fa-arrow-left"></i> -->
                        ←
                    </div>
                    <div class="swiper-button-next">
                        <!-- <i class="fas fa-arrow-right"></i> -->
                        →
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <img class="left"
            src="{{$root.SERVER_URL}}/upload/uploads/download/{{vm.produto.produtocor[vm.cor].imagemprincipal.arquivo}}"
            alt="">
        <div class="right">
            <div class="characteristics">
                <ul>
                    <li class="characteristic">
                        <i class="fas fa-arrows-alt-h"></i>
                        <span class="tag">largura</span>
                        <span class="other">width/largo</span>
                        <span class="unit">{{vm.produto.largura}}mm</span>
                    </li>
                    <li class="characteristic">
                        <i class="fas fa-arrows-alt-v"></i>
                        <span class="tag">altura</span>
                        <span class="other">height/alto</span>
                        <span class="unit">{{vm.produto.altura}}mm</span>
                    </li>
                    <li class="characteristic">
                        <i class="fas fa-arrows-alt-h"></i>
                        <span class="tag">profundidade</span>
                        <span class="other">weight/peso</span>
                        <span class="unit">{{vm.produto.profundidade}}mm</span>
                    </li>
                    <li class="characteristic">
                        <i class="fas fa-cube"></i>
                        <span class="tag">cubagem</span>
                        <span class="other">cubing/cubicaje</span>
                        <span class="unit">{{vm.produto.cubagem}}mm</span>
                    </li>
                    <li class="characteristic">
                        <i class="fas fa-weight-hanging"></i>
                        <span class="tag">peso</span>
                        <span class="other">weight/peso</span>
                        <span class="unit">{{vm.produto.peso}}kg</span>
                    </li>
                    <li class="characteristic" ng-show="vm.produto.tv">
                        <i class="fas fa-tv"></i>
                        <span class="tag">tv</span>
                        <span class="other">tamanho/size</span>
                        <span class="unit">{{vm.produto.tv}}</span>
                    </li>
                </ul>
                <p class="description">
                    {{vm.produto.descricao}}
                </p>
                <div class="download">
                    <a class="image" ng-show="vm.produto.arquivo_imagens" href="{{$root.SERVER_URL}}/upload/uploads/download/{{vm.produto.arquivo_imagens}}"><i class="fal fa-cloud-download"></i>{{'PRODUCT_GET_IMAGES'|translate}}</a>
                    <a class="schema" ng-show="vm.produto.esquema_montagem" href="{{$root.SERVER_URL}}/upload/uploads/download/{{vm.produto.esquema_montagem}}"><i class="fal fa-cloud-download"></i>{{'PRODUCT_GET_SCHEMA'|translate}}</a>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="background-catalog">
    <catalog-product-diretive class="catalog-product" title="{{'HOME_PRODUCTS_TITLE'|translate}}" description="{{'HOME_PRODUCTS_TEXT'|translate}}" products="vm.produtos_relacionados"></catalog-product-diretive>
</div>

<news-diretive></news-diretive>