section {
    font-size: 10px;
}
.background-catalog{
    background: #F5F5F5;
}
#product {
    .top {
        display: flex;

        .left,
        .right {
            flex: 0 0 50%;
            height: 550px;
        }

        .left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;

            // &:before {
            //     content: "🡒";
            //     position: absolute;
            //     width: 80px;
            //     height: 80px;
            //     box-shadow: 5px 0px 20px 0 rgba(0, 0, 0, 0.2);
            //     background-color: #ffffff;
            //     right: -40px;
            //     border-radius: 50%;
            //     display: flex;
            //     align-items: center;
            //     justify-content: center;
            //     font-size: 40px;
            //     padding-top: 8px;
            //     z-index: 1000;
            // }

            .content{
                width: 475px;
                
                .breadcrumb {
                    background-color: transparent;
                    padding: 0;
                    margin-bottom: 30px;
                    
                    .breadcrumb-item {
                        color: #22222d !important;
                        font-size: 14px;
                        &:not(:first-of-type):before {
                            content: "⟶";
                            font-weight: bold;
                        }
    
                        a {
                            color: #22222d !important;
                            font-weight: 300;
                        }
                    }
                }
    
                h1 {
                    font-size: 3.8em;
                    color: #22222d;
                    letter-spacing: -0.85px;
                    line-height: 1;
                    font-weight: 400;
                }
    
                .cod {
                    font-size: 1.4em;
                    font-weight: 300;
                    color: #22222d;
                    margin-bottom: 40px;
                }
    
                .release {
                    border: none;
                    border-radius: 5px;
                    background-color: #25e779;
                    padding: 10px 15px;
                    font-size: 1em;
                    font-weight: 500;
                    color: #ffffff;
                }
    
                .colors {
                    display: flex;
                    align-items: baseline;
                    margin-top: 20px;
    
                    span {
                        font-size: 1.6em;
                        color: rgba(0, 0, 0, 0.85);
                    }

                    .color {
                        position: relative;
                        cursor: pointer;
                        font-size: 1.7em;
                        user-select: none;
                        width: max-content;
                        margin: 0;
    
                        &:first-of-type {
                            margin-left: 15px;
                        }
    
                        &:not(:first-of-type) {
                            margin-left: 10px;
                        }
            
                        input {
                            position: absolute;
                            opacity: 0;
                            cursor: pointer;
                            height: 0;
                            width: 0;
            
                            &:checked ~ .checkmark {
                                border: solid 3px #22222d;
                            }
                        }
            
                        .checkmark {
                            display: flex;
                            width: 20px;
                            height: 20px;
                            border-radius: 50%;
                        }
                    }
                }
    
                .have {
                    font-size: 1.6em;
                    color: rgba(0, 0, 0, 0.85);
                    margin-top: 50px;
                }
    
                .request {
                    border-radius: 5px;
                    border: solid 2px #25e779;
                    font-size: 1.3em;
                    font-weight: 500;
                    color: #00ca7a;
                    padding: 10px 15px;
                    background: transparent;
                    margin-top: 25px;
                    transition: all .4s ease;
                    -webkit-transition: all .4s ease;
                    &:hover{
                        border-color: transparent;
                        color: white;
                        background: #25e779;
                    }
                }
            }
        }

        .right {
            width: 50%;
            display: flex;
            flex-direction: column;

            .swiper-container {
                width: 100%;
                height: 100%;

                .swiper-slide{
                    object-fit: cover;
                    img {
                        height: 100%;
                        object-position: center;
                    }
                }
            }

            .bottom {
                height: 90px;
                background-color: #f5f5f5;
                justify-content: center;
                display: flex;
                align-items: center;

                .init, .end {
                    font-size: 1.5em;
                    color: #242635;
                }

                .swiper-pagination {
                    position: relative;
                    justify-content: center;
                    display: flex;
                    margin: 0 15px;

                    .swiper-pagination-bullet {
                        width: 4.0vw;
                        border-radius: 0;
                        height: 1px;
                    }

                    .swiper-pagination-bullet-active {
                        background: #242635;
                    }
                }

                .prev-next {
                    display: flex;
                    margin-left: 6.3vw;
                    .swiper-button-prev,
                    .swiper-button-next {
                        outline: none;
                        position: relative;
                        right: 0;
                        left: 0;
                        top: 0;
                        background: none;
                        font-size: 3em;
                        display: flex;
                        align-items: center;
                        width: unset;
                        margin: 0;
                    }

                    .swiper-button-prev {
                        margin-right: 30px;
                    }
                }
            }
        }
    }

    .bottom {
        display: flex;

        .left,
        .right {
            flex: 0 0 50%;
            height: auto;
            padding-bottom: 100px;
        }

        .left {
            width: 50%;
            object-position: center;
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
            object-fit: contain;
            background-color: #f5f5f5;
        }

        .right {
            display: flex;
            align-items: center;
            justify-content: center;
            .mobile-info{
                display: flex;
                flex-direction: column;

            }
            .mobi{
                visibility: hidden;
            }
            .colors {
                display: flex;
                align-items: baseline;
                margin-top: 20px;

                span {
                    font-size: 1.6em;
                    color: rgba(0, 0, 0, 0.85);
                }

                .color {
                    position: relative;
                    cursor: pointer;
                    font-size: 1.7em;
                    user-select: none;
                    width: max-content;
                    margin: 0;

                    &:first-of-type {
                        margin-left: 15px;
                    }

                    &:not(:first-of-type) {
                        margin-left: 10px;
                    }
        
                    input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        height: 0;
                        width: 0;
        
                        &:checked ~ .checkmark {
                            border: solid 3px #22222d;
                        }
                    }
        
                    .checkmark {
                        display: flex;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                    }
                }
            }

            .have {
                font-size: 1.6em;
                color: rgba(0, 0, 0, 0.85);
                margin-top: 50px;
            }

            .request {
                border-radius: 5px;
                border: solid 2px #25e779;
                font-size: 1.3em;
                font-weight: 500;
                width: 60%;
                color: #00ca7a;
                padding: 10px 15px;
                background: transparent;
                margin-top: 25px;
                margin-bottom: 25px;
                transition: all .4s ease;
                -webkit-transition: all .4s ease;
                &:hover{
                    border-color: transparent;
                    color: white;
                    background: #25e779;
                }
            }
            .characteristics {
                width: 475px;

                ul {
                    margin: 0px 0px 30px 0px;

                    .characteristic {
                        list-style: none;
                        margin-bottom: 15px;
                        display: flex;
                        align-items: center;
                        &:last-of-type {
                            margin-bottom: 50px;
                        }

                        i {
                            font-family: "Font Awesome 5 Pro Light 300"!important;
                            font-size: 2.2em;
                            color: #25e779;
                            width: 28px;
                            text-align: center;
                            margin-right: 20px;
                            font-weight: 300!important;
                        }

                        .tag {
                            font-size: 1.7em;
                            color: #21212e;
                        }

                        .other {
                            font-size: 1.3em;
                            font-weight: 300;
                            color: #21212e;
                            margin: 0 auto 0 5px;
                            display: flex;
                            width: fit-content;
                        }

                        .unit {
                            font-size: 1.3em;
                            color: #21212e;
                        }
                    }
                }

                .description {
                    margin-bottom: 60px;
                    font-size: 1.6em;
                    line-height: 1.55;
                    color: rgba(0, 0, 0, 0.85);
                }
                .download{
                    i{
                        font-family: "Font Awesome 5 Pro Light 300"!important;
                        &:before{
                            content: "\f0ed";
                        }
                    }
                }
                .image,
                .schema {
                    font-size: 1.6em;
                    font-weight: 500;
                    color: #00ca7a;
                    width: 100%;
                    display: flex;
                    align-items: baseline;
                    text-decoration: none;
                    transition: all .4s ease;
                    -webkit-transition: all .4s ease;
                    &:hover{
                        color: rgba(0, 0, 0, 0.85);
                    }
                    i {
                        font-size: 1.4em;
                        
                        margin-right: 25px;
                    }
                }

                .image {
                    margin-bottom: 20px;
                }
            }
        }
    }
}

.video{
    margin-top: 0px;
    margin-bottom: 50px;
    padding: 0 10vw;
    .container{
        display: flex;
        justify-content: center;
        h1{
            margin: 70px 0;
        }
    }
    iframe{
        width: 100%;
        height: 600px;
        border-color: white !important;
    }
}
@media (max-width: 1200px) {
    .video{
        margin-top: 100px;
        margin-bottom: 120px;
        iframe{
            height: 500px;
        }
        .container{
            h1{
                margin: 50px 0;
            }
        }
    }
    
}

@media (max-width: 900px) {
    .video{
        margin-top: 50px;
        margin-bottom: 60px;
        iframe{
            height: 300px;
        }
    }
}


@media (max-width: 991.98px) {
    #product{
        
        .top{
            flex-direction: column;
            position: relative;

            .left, .right{
                width: 100%;
                flex: 0 0 100%;
            }

            .left{
                margin: 50px 0;
                position: static;
                
                &:before{
                    right: 30px;
                    bottom: 30px;
                    width: 60px;
                    height: 60px;
                }

                .content{
                    width: 100%;
                    max-width: 475px;
                    padding: 0 15px;
                }
                .no-mobi{
                    display: none !important;
                }
            }

            .right{

                .bottom{
                    display: none !important;
                }
            }
        }

        .bottom{
            flex-direction: column-reverse;

            .left, .right{
                width: 100%;
                flex: 0 0 100%;
            }

            .right{
                margin: 40px 0;
                .mobi{
                    visibility: visible;;
                }
                .characteristics{
                    width: 100%;
                    max-width: 475px;
                    padding: 0 15px;
                }
            }
        }
    }
}

@media (max-width: 575.98px) {
    #product{
        
        .top{

            .left{
                font-size: 9px;

                &:before{
                    width: 15vw;
                    height: 15vw;
                }

                ol{
                    font-size: 10px;
                }
            }

            .right{
                height: 98vw;
            }
        }

        .bottom{

            .left{
                height: 81vw;
            }

            .right{
                font-size: 8px;
            }
        }
    }
}
.newsletter{
    height: 440px;
    position: relative;

    img{
        width: 100%;
        height: inherit;
        object-fit: cover;
        object-position: center;
    }

    .overlay{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        // background-color: rgba(0,0,0,0.9);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1, p{
            text-align: center;
            color: #ffffff;
        }

        h1{
            font-size: 4.0em;
            font-weight: 300;
            line-height: 1;
            margin-bottom: 30px;
            letter-spacing: -0.85px;
        }

        p{
            font-size: 1.6em;
            line-height: 1.75;
            letter-spacing: -0.5px;
            margin-bottom: 40px;
        }

        form{

            input, button{
                padding: 20px 25px;
                width: 270px;
                border-radius: 5px;
                box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
                border: none;
                font-size: 1.4em;
                height: 60px;
            }

            input{
                background-color: #ffffff;
                margin-right: 15px;
            }

            button{
                background-color: #25e779;
                color: white;
                transition: all .4s ease;
                -webkit-transition: all .4s ease;
                border: 1px solid #109f4e;
                &:hover{
                    // background-color: #109f4e;
                    background: white;
                    color: #109f4e;
                }
            }
        }
    }
}

@media (max-width: 900px) {

    .newsletter{
        
        .overlay{
            padding: 0 15px;

            form{
                display: flex;
                flex-direction: column;
                width: 400px;

                button, input{
                    width: 100%;
                }

                input{
                    text-align: center;
                    margin: 0 0 20px;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    
    .newsletter{
        
        .overlay{

            p{

                br{
                    display: none;
                }
            }

            form{
                width: 100%;
            }
        }
    }
}