<section id="post-cat">

	<h3 class="main-title">Mostrando publicações da categoria: {{posts.nome}}</h3>

	<div class="container">
   <div class="post-card" ng-repeat="post in posts.publicacao">
				<a href="/blog/{{post.slug}}">
						<div class="cover" style="background-image: url({{post.cover}});">
					</div>

				</a>
				<div class="details">
					<a href="/blog/{{post.slug}}">
						<div class="title">
							{{post.titulo}}
						</div>
					</a>
					<!-- <div class="category">
						{{post.categoriapublicacao.nome.toUpperCase()}}
					</div> -->
					<div class="desc">
						{{post.conteudo}}
					</div>
				</div>
			</div>


	</div>

</section>

<sidebar-diretive></sidebar-diretive>

<news-diretive></news-diretive>
