<section class="blog container" ng-show="vm.posts">
    <div class="left">
        <h1 ng-bind-html="vm.title"></h1>
        <p ng-bind-html="vm.description"></p>
    </div>
    <div class="mid">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide product" ng-repeat="post in vm.posts">
                    <a href="/blog/{{post.slug}}">
                        <img ng-src="{{post.image}}" alt="{{post.titulo}}">
                        <h2>
                            {{post.titulo}}
                        </h2>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="right">
        <button ui-sref="blog"><span>{{'BLOG_BUTTON'|translate}}</span> <span>⟶</span></button>
    </div>
    <div class="list row">
        <div class="col-3 mw-100 post" ng-repeat="post in vm.posts">
            <a href="/blog/{{post.slug}}">
                <img ng-src="{{post.image}}" alt="Imagem do post">
                <h2>
                    {{post.titulo}}
                </h2>
            </a>
        </div>
    </div>
</section>
