catalog-blog-diretive{

    .blog{
        display: flex;
        padding-top: 100px;
        padding-bottom: 100px;
        flex-wrap: wrap;
    
        .left, .right{
            flex: 0 0 50%;
            margin-bottom: 80px;  
        }
    
        .left{
            
            h1{
                font-size: 3.8em;
                line-height: 1.1;
                letter-spacing: -0.85px;
                color: rgba(0, 0, 0, 0.85);
                font-weight: 400;
                margin-bottom: 25px;    
            }
    
            p{ 
                font-size: 1.6em;
                line-height: 1.55;
                color: rgba(0, 0, 0, 0.85);
                margin-bottom: 0px;
            }
        }
    
        .right{
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
    
            button{
                border-radius: 5px;
                border: solid 2px #25e779;
                padding: 15px 25px;
                background: transparent;  
                font-size: 1.4em;
                font-weight: 500;
                color: #00ca7a;
                display: flex;
                justify-content: space-between;
                width: 230px;
                transition: all .4s ease;
                -webkit-transition: all .4s ease;
                &:hover{
                    border-color: transparent;
                    color: white;
                    background: #25e779;
                }
            }
        }
    
        .list{
            $margin: 45px;
    
            margin-bottom: -$margin;
    
            .post{
                margin-bottom: $margin;
                cursor: pointer;
                img{
                    margin-bottom: 25px;
                    width: 270px;
                    height: 270px;
                    object-fit: cover;
                    border-radius: 6px;;
                    @media (max-width: 1199.98px){
                        height: 165px;
                    }

                    @media (max-width: 991.98px){
                        height: 120px;
                    }
                }
                
                h2{
                    max-width: 225px;
                    display: flex;
                    font-size: 1.6em;
                    line-height: 1.4;
                    color: rgba(0, 0, 0, 0.85);
                    font-weight: 400;
                    margin: 0px;   

                    @media (max-width: 1199.98px){
                        font-size: 1.5em;
                    }

                    @media (max-width: 991.98px) and (min-width: 768px){
                        font-size: 1.1em;
                    } 
                }
            }
        }
    }

    @media (min-width: 900px) {
        .blog{
            
            .mid{
                display: none;
            }
        }
    }

    @media (max-width: 900px) {

        .blog{

            .left{
                flex: 0 0 100%;
            }
    
            .mid{
                margin-bottom: 60px;
                width: inherit;
    
                .product{
                    
                    img{
                        margin-bottom: 25px;
                        object-fit: cover;
                        height: 335px;
                        max-width: unset !important;
                        width: 100%;

                        @media (max-width: 767.98px) {
                            height: 245px;
                        }

                        @media (max-width: 575.98px) {
                            height: 55vw;
                            width: 55vw;
                        }
                    }
        
                    h2, h3{
                        font-size: 1.4em;
                        line-height: 1.6;
                        color: rgba(0, 0, 0, 0.85);
                        font-weight: 400;
                        margin: 0px;    
                        max-width: 270px;
                        width: 100%;
                    }
                }
            }
    
            .right{
                flex: 0 0 100%;
                justify-content: flex-start;
            }
    
            .list{
                display: none;
            }
        }
    }

    @media (max-width: 575.98px) {

        .blog{
        
            .left{
        
                p{

                    br{
                        display: none;
                    }
                }
            }
        }
    }
}