<section class="blog container">
    <div class="left">
        <h1 ng-bind-html="vm.title"></h1>
        <p ng-bind-html="vm.description"></p>
    </div>
    <div class="mid">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide product" ng-repeat="post in vm.posts" ng-click="vm.open(post.url)">
                    <img ng-src="{{post.image}}" alt="Imagem do post">
                    <h2>
                        {{post.title}}
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="right">
        <button ng-click="vm.open($root.getCurrentEnvironment().BLOG_URL)"><span>todos os posts</span> <span>⟶</span></button>
    </div>
    <div class="list row">
        <div class="col-3 post" ng-repeat="post in vm.posts" ng-click="vm.open(post.url)">
            <img ng-src="{{post.image}}" alt="Imagem do post">
            <h2>
                {{post.title}}
            </h2>
        </div>
    </div>
</section>