<section class="container find">
    <div class="row">

        <div class="col-12 d-block d-md-none title">

            <div class="d-flex justify-content-between align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">home</a></li>
                    <li class="breadcrumb-item active" style="text-transform: lowercase;">{{'MENU_PRODUCT'|translate}}</li>
                </ol>

                <button class="filter" ng-click="vm.filter = !vm.filter">
                    filtro
                    <i class="fas fa-filter"></i>
                </button>
            </div>

            <h1>{{'CATALOG_TITLE'|translate}}</h1>
        </div>

        <div class="col-12 col-md-4 filter" ng-if="vm.filter || vm.width > 992">

            <ol class="breadcrumb d-none d-md-flex">
                <li class="breadcrumb-item"><a href="#">home</a></li>
                <li class="breadcrumb-item active" style="text-transform: lowercase;">{{'MENU_PRODUCT'|translate}}</li>
            </ol>

            <h1 class="d-none d-md-flex">{{'CATALOG_TITLE'|translate}}</h1>

            <div class="release">
                <label class="square_b">
                    <input type="checkbox" ng-model="vm.filter.lancamentos" ng-value="true">
                    <span class="checkmark"></span>
                    {{'CATALOG_RELEASE'|translate}}
                </label>
            </div>

            <div class="options">
                <h3>{{'CATALOG_AMBIENT'|translate}}:</h3>
                <ul>
                    <li>
                        <label class="square_b">
                            <input type="radio" name="option" ng-model="vm.filter.ambiente" ng-value="-1" ng-change="vm.setIdxAmbiente(-1)">
                            <span class="checkmark"></span>
                            Todos
                        </label>
                    </li>
                    <li ng-repeat="(idx, ambiente) in vm.filters[0]">
                        <label class="square_b">
                            <input ng-click="marcar()" id="check_{{ambiente.id}}" type="radio" name="ambiente" ng-model="vm.filter.ambiente" ng-change="vm.setIdxAmbiente(idx)" ng-value="ambiente.id">
                            <span class="checkmark"></span>
                            {{ambiente.nome}}
                        </label>
                    </li>
                </ul>
            </div>

            <div class="type" ng-show="vm.ambienteSelected >= 0 && vm.ambienteSelected != null">
                <h3>Tipo:</h3>
                <ul>
                    <li>
                        <label class="square_b">
                            <input type="radio" name="type" checked>
                            <span class="checkmark"></span>
                            Todos
                        </label>
                    </li>
                    <li ng-repeat="categoria in vm.filters[0][vm.ambienteSelected].categoriaproduto">
                        <label class="square_b">
                            <input type="radio" name="type" ng-model="vm.filter.categoria" ng-value="categoria.id">
                            <span class="checkmark"></span>
                            {{categoria.nome}}
                        </label>
                    </li>
                </ul>
            </div>

            <div class="pallete">

                <h3>{{'CATALOG_COLORS'|translate}}:</h3>

                <div style="margin-bottom: 20px;">
                    <label class="color" ng-repeat="color in vm.filters[1]">
                        <input type="radio" name="f_color" ng-model="vm.filter.cor" ng-value="color.cor">
                        <span class="checkmark" ng-style="{ 'background-color' : color.cor }" title="{{color.descricao}}"></span>
                    </label>
                </div>
            </div>

            <div class="measures">

                <h3>{{'CATALOG_MEASURES'|translate}}:</h3>

                <div class="measure">
                    <div class="top">
                        <i class="fas fa-arrows-alt-h"></i>
                        <span>{{'CATALOG_WIDTH'|translate}}</span>
                    </div>
                    <div class="bot">
                        <!-- <input type="range" min="0" max="100" value="0" class="slider" id="myRange"> -->
                        <div>
                            <rzslider class="custom-slider" rz-slider-model="tabSliders.slider1.minValue" rz-slider-high="tabSliders.slider1.maxValue"
                                rz-slider-options="tabSliders.slider1.options"></rzslider>
                        </div>
                        <div class="lenght">
                        </div>
                    </div>
                </div>

                <div class="measure">
                    <div class="top">
                        <i class="fas fa-arrows-alt-v"></i>
                        <span>{{'CATALOG_HEIGHT'|translate}}</span>
                    </div>
                    <div class="bot">
                        <!-- <input type="range" min="0" max="100" value="0" class="slider" id="myRange"> -->
                        <div>
                            <rzslider class="custom-slider" rz-slider-model="tabSliders.slider2.minValue" rz-slider-high="tabSliders.slider2.maxValue"
                                rz-slider-options="tabSliders.slider2.options"></rzslitabSliders.der>
                        </div>
                        <div class="lenght">
                        </div>
                    </div>
                </div>

                <div class="measure">
                    <div class="top">
                        <i class="fas fa-arrows-alt-v"></i>
                        <span>{{'CATALOG_DEPTH'|translate}}</span>
                    </div>
                    <div class="bot">
                        <!-- <input type="range" min="0" max="100" value="0" class="slider" id="myRange"> -->
                        <div>
                            <rzslider class="custom-slider" rz-slider-model="tabSliders.slider3.minValue" rz-slider-high="tabSliders.slider3.maxValue"
                                rz-slider-options="tabSliders.slider3.options"></rzslider>
                        </div>
                        <div class="lenght">
                        </div>
                    </div>
                </div>

            </div>

            <button ng-click="vm.filtrar()" class="filter">{{'CATALOG_BUTTON_FILTER'|translate}}</button>
        </div>

        <div class="col-12 col-md-8">
            <div class="list" style="display: none;">
                <section ng-repeat="product in vm.products" class="card_b" ui-sref="product({ambient: product.slug_ambiente, category: product.slug_categoria, slug: product.slug_produto, id: product.id})">
                    <img src="{{$root.SERVER_URL}}/upload/uploads/download/{{product.produto_imagem}}" alt="">
                    <h1>{{product.nome}}</h1>
                    <h2>{{product.nome_ambiente}}</h2>
                </section>
            </div>
            <div class="container-loader"><div class="loader"></div></div>
            <button class="more" ng-click="vm.loadMore()" style="display: none;">{{'CATALOG_BUTTON_MORE'|translate}}</button>        
        </div>
    </div>
</section>
<news-diretive></news-diretive>