<section id="blog">
	<div class="container">

   <div class="post-card" ng-repeat="post in posts">
				<a href="/blog/{{post.slug}}">
						<div class="cover" style="background-image: url({{post.cover}});">
					</div>

				</a>
				<div class="details">
					<a href="/blog/{{post.slug}}">
						<div class="title">
							{{post.titulo}}
						</div>
					</a>
					<div class="desc" ng-show="!!post.timeread">
						{{post.timeread}} minutos para ler
					</div>
					<a href="/blog/category/{{post.categoriapublicacao.slug}}">
						<div class="category">
							{{post.categoriapublicacao.nome.toUpperCase()}}
						</div>
					</a>
					<div class="desc">
						{{post.conteudo}}
					</div>
				</div>
			</div>


	</div>

</section>

<sidebar-diretive></sidebar-diretive>

<news-diretive></news-diretive>
