@import './app/newsletter/newsletter.diretive.scss';
@import './app/catalog-blog/catalog-blog.diretive.scss';
@import './app/catalog-product/catalog-product.diretive.scss';
@import './app/phrase/phrase.diretive.scss';
@import './app/navbar/navbar.diretive.scss';
@import './app/footer/footer.diretive.scss';

*{
    margin: 0px;
    padding: 0px;
    line-height: 1;
    font-family: 'Gordita';
}
    
@font-face {
    font-family: 'Gordita';
    font-weight: 100;
    src: url('/assets/fonts/Gordita Thin.woff') format('woff');
} 
    
@font-face {
    font-family: 'Gordita';
    font-weight: 300;
    src: url('/assets/fonts/Gordita Light.woff') format('woff');
}

@font-face {
    font-family: 'Gordita';
    font-weight: normal;
    src: url('/assets/fonts/Gordita Regular.woff') format('woff');
}  
    
@font-face {
    font-family: 'Gordita';
    font-weight: 500;
    src: url('/assets/fonts/Gordita Medium.woff') format('woff');
}  
    
@font-face {
    font-family: 'Gordita';
    font-weight: 700;
    src: url('/assets/fonts/Gordita_Bold.woff') format('woff');
} 
    
@font-face {
    font-family: 'Gordita';
    font-weight: 900;
    src: url('/assets/fonts/Gordita Black.woff') format('woff');
}