@import "./app/newsletter/newsletter.diretive.scss";
@import "./app/catalog-blog/catalog-blog.diretive.scss";
@import "./app/catalog-product/catalog-product.diretive.scss";
@import "./app/phrase/phrase.diretive.scss";
@import "./app/navbar/navbar.diretive.scss";
@import "./app/footer/footer.diretive.scss";
@import "./app/blog/sidebar/sidebar.diretive.scss";

* {
    margin: 0px;
    padding: 0px;
    line-height: 1;
    font-family: "Gordita";
}

button {
    outline: none !important;
}

@font-face {
    font-family: "Gordita";
    font-weight: 100;
    src: url("/assets/fonts/Gordita_Thin.woff") format("woff");
}

@font-face {
    font-family: "Gordita";
    font-weight: 300;
    src: url("/assets/fonts/Gordita_Light.woff") format("woff");
}

@font-face {
    font-family: "Gordita";
    font-weight: normal;
    src: url("/assets/fonts/Gordita_Regular.woff") format("woff");
}

@font-face {
    font-family: "Gordita";
    font-weight: 500;
    src: url("/assets/fonts/Gordita_Medium.woff") format("woff");
}

@font-face {
    font-family: "Gordita";
    font-weight: 700;
    src: url("/assets/fonts/Gordita_Bold.woff") format("woff");
}

@font-face {
    font-family: "Gordita";
    font-weight: 900;
    src: url("/assets/fonts/Gordita_Black.woff") format("woff");
}

@font-face {
    font-family: "Font Awesome 5 Pro Light 300";
    font-weight: 300!important;
    src: url("/assets/fonts/Font-Awesome-5-Pro-Light-300.woff") format("woff");
}

.container-loader{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0px;
    .loader {
        border: 6px solid #f3f3f3;
        border-top: 6px solid #22222d;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
}
