<section class="banner">
    <div class="left-top">
        <h1>Águas Brasileiras</h1>
        <p>
            coleção
            <br>
            /19
        </p>
    </div>
    <img class="right-top" src="../../assets/img/chair.png" alt="">
    <div class="left-bottom">
        <span class="catalog">Conheça o catálogo</span>
        <span class="arrow">⟶</span>
    </div>
    <div class="right-bottom">
        <span class="init">01</span>
        <div class="bar">
            <div class="progress"></div>
        </div>
        <span class="end">04</span>
    </div>
</section>

<section class="nature">
    <img class="beach" src="https://farm6.staticflickr.com/5216/5469329348_dcbdab2e5b_b.jpg" alt="">
    <div class="right">
        <h1>A natureza foi<br>a nossa inspiração.</h1>
        <p>
            Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcor.
        </p>
    </div>
</section>

<section class="products container">
    <div class="left">
        <h1>Produtos mais pocurados.</h1>
        <p>Esses são os produtos mais acessados em<br>nosso site. Que tal conhecê‐los?</p>
    </div>
    <div class="mid">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide product" ng-repeat="test in [0,1,2,3,4,5,6,7]">
                    <img src="https://via.placeholder.com/270" alt="">
                    <h2>Bancada</h2>
                    <h3>Astúrias</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="right">
        <button>todos os produtos ⟶</button>
    </div>
    <div class="list row">
        <div class="col-3 product" ng-repeat="test in [0,1,2,3,4,5,6,7]">
            <img src="https://via.placeholder.com/270" alt="">
            <h2>Bancada</h2>
            <h3>Astúrias</h3>
        </div>
    </div>
</section>

<section class="know">
    <h1>Conheça o catálogo 2019:<br>Águas Brasileiras</h1>
    <div class="group-buttons">
        <button class="left">Ver coleção</button>
        <button class="right">Baixar catélogo</button>
    </div>
</section>

<section class="blog container">
    <div class="left">
        <h1>Conheça nosso blog.</h1>
        <p>Artigos escritos com muito carinho pra ajudar você a<br>viver melhor e mostrar um pouco do universo Colibri!</p>
    </div>
    <div class="mid">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide product" ng-repeat="test in [0,1,2,3,4,5,6,7]">
                    <img src="https://via.placeholder.com/270" alt="">
                    <h2>
                        Título da notícia, postagem
                        ou evento do blog
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="right">
        <button>todos os posts ⟶</button>
    </div>
    <div class="list row">
        <div class="col-3 post" ng-repeat="test in [0,1,2,3]">
            <img src="https://via.placeholder.com/270" alt="">
            <h2>
                Título da notícia, postagem
                ou evento do blog
            </h2>
        </div>
    </div>
</section>

<section class="newsletter">
    <img src="https://ae01.alicdn.com/kf/HTB1UnwteiQnBKNjSZFmq6AApVXax/custom-3d-photo-wallpaper-living-room-mural-forest-park-chair-scenery-photo-sofa-TV-background-non.jpg"
        alt="">
    <div class="overlay">
        <h1>Newsletter</h1>
        <p>Digite seu endereço de e-mail abaixo e receba novidades e ofertas<br>promocionais da nossa equipe especializada.
        </p>
        <form action="">
            <input type="email" placeholder="Digite seu e-mail">
            <button type="submit">Inscreva-se!</button>
        </form>
    </div>
</section>