h1{
    bottom: 0;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: max-content;
    width: max-content;
    color: #aaa;
    font-family: sans-serif;
    font-size: 200px;
}