<section class="banner">
    <div style="display: flex;">
        <div class="left-top">
            <h1>Águas Brasileiras</h1>
            <p>
                coleção
                <br>
                /20
            </p>
        </div>
        <div class="right-top swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide right-top">
                    <a href="{{vm.images.img_1_url}}">
                        <img src="{{vm.url + vm.images.img_1_link}}" alt="">
                    </a>
                </div>
                <div class="swiper-slide right-top">
                    <a href="{{vm.images.img_2_url}}">
                        <img src="{{vm.url + vm.images.img_2_link}}" alt="">
                    </a>
                </div>
                <div class="swiper-slide right-top">
                    <a href="{{vm.images.img_3_url}}">
                        <img src="{{vm.url + vm.images.img_3_link}}" alt="">
                    </a>
                </div>
                <div class="swiper-slide right-top">
                    <a href="{{vm.images.img_4_url}}">
                        <img src="{{vm.url + vm.images.img_4_link}}" alt="">
                    </a>
                </div>
            </div>
            <div class="swiper-button-prev swiper-button-white"></div>
            <div class="swiper-button-next swiper-button-white"></div>
        </div>
    </div>
    <div style="display: flex;">
        <div class="left-bottom" ui-sref="catalogFind">
            <span class="catalog">Conheça o catálogo</span>
            <span class="arrow">⟶</span>
        </div>
        <div class="right-bottom">
            <span class="init">01</span>
            <div class="swiper-pagination"></div>
            <span class="end">04</span>
        </div>
    </div>
</section>

<section class="nature">
    <img class="beach" src="{{vm.url + vm.images.img_5_link}}" alt="">
    <div class="right">
        <h1>A natureza foi <br>a nossa inspiração.</h1>
        <p>
            E às águas brasileiras rendemos nossa homenagem. Cada produto leva o nome de uma delas e a beleza de todas.
        </p>
    </div>
</section>

<catalog-product-diretive title="Produtos mais pocurados."
    description="Esses são os produtos mais acessados em <br>nosso site. Que tal conhecê‐los?" products="vm.most_viewed">
</catalog-product-diretive>

<section class="know">
    <h1>Conheça o catálogo 2020: <br>Águas Brasileiras</h1>
    <div class="group-buttons">
        <button class="left" ui-sref="catalogFind">Ver coleção</button>
        <button class="right" onclick="window.open('http://prod.colibri.letscomunica.com.br/api/upload/uploads/download/catalogo_2020.pdf')">Baixar catálogo</button>
    </div>
</section>

<catalog-blog-diretive title="Conheça nosso blog."
    description="Artigos escritos com muito carinho pra ajudar você a <br>viver melhor e mostrar um pouco do universo Colibri!">
</catalog-blog-diretive>

<news-diretive></news-diretive>