section {
    font-size: 10px;
}

.banner {
    .policy-top {
        width: 50%;
        height: 100%;
        margin: 150px 25%;

        h1 {
            text-align: center;
            margin-bottom: 30px;
        }

        h3 {
            margin-top: 30px;
            margin-bottom: 15px;
        }

        p {
            font-family: 'Times New Roman', Times, serif;
            text-align: justify;
            font-size: 20px;
            line-height: 28px;
            color: #222;

            &.sub {
                margin-left: 30px;
            }
        }

    }
}



@media (max-width: 991.98px) {
    .banner {
        .policy-top {
            width: 60%;
            height: 100%;
            margin: 120px 20%;
    
            h1 {
                text-align: center;
                margin-bottom: 30px;
            }
    
            h3 {
                margin-top: 30px;
                margin-bottom: 15px;
            }
    
            p {
                font-size: 20px;
                line-height: 28px;
    
                &.sub {
                    margin-left: 30px;
                }
            }
    
        }
    }
}

@media (max-width: 767.98px) {
    .banner {
        .policy-top {
            width: 75%;
            height: 100%;
            margin: 60px 12.5%;
        }
    }
}


@media (max-width: 575.98px) {
    .banner {
        .policy-top {
            width: 90%;
            margin: 50px 5%;
    
            h1 {
                font-size: 24px;
            }
        }
    }
}