<section class="banner">
    <div class="policy-top">
        <h1>POLÍTICA DE PRIVACIDADE
            COLIBRI COMÉRCIO DE MÓVEIS LTDA</h1>

        <p>A Colibri preza pela transparência e garantia de proteção dos dados pessoais dos usuários do nosso site,
            assim serve-se da presente Política de Privacidade para expor de forma clara os dados e informações obtidos
            e o tratamento a que se destinam.</p>
        <p>A presente Política de Privacidade (“Política”) disponibilizada e mantida pela <strong> COLIBRI INDÚSTRIA E
                COMÉRCIO DE MÓVEIS LTDA</strong>, pessoa jurídica de direito privado, inscrita no CNPJ/MF sob o nº
            82.368.283/0001-93, com sede à Rua Rouxinol, 5.530, Parque Industrial XI, na cidade de Arapongas, Estado do
            Paraná, (“Colibri” ou “nós”) tem como finalidade informar ao Usuário (“usuário”, “usuários”, ou “você”),
            quais informações são coletadas de nosso website <a href="https://www.colibrimoveis.com.br/"
                target="_blank">https://www.colibrimoveis.com.br/</a> e demais páginas
            relacionadas (“website” ou “site”) e descreve as condutas e os procedimentos adotados para a coleta,
            armazenamento, uso, tratamento, compartilhamento e eliminação de Informações obtidas dos usuários.</p>
        <p>O usuário, neste ato, declara ser maior de 18 (dezoito) anos e que fez a leitura completa e atenta das regras
            deste documento, estando plenamente ciente conferindo assim sua livre, expressa e informada concordância com
            os termos aqui estipulados. Caso não esteja de acordo com estas Política de Privacidade, deverá descontinuar
            o seu acesso ao site e serviços disponibilizados pela Colibri.</p>
        <p>As eventuais dúvidas, comunicações, consultas e requerimentos de qualquer natureza relacionadas ao tratamento
            de dados pessoais e aos termos da presente política de privacidade podem ser encaminhadas ao encarregado de
            proteção de dados, por meio do encarregado Dante Neto, e-mail dante.neto@colibrimoveis.com.br.</p>




        <h3>1. Abrangência desta Política</h3>

        <p>Disponibilizamos ao público geral nosso website com o objetivo de trazer informações sobre os nossos produtos
            e pedidos de orçamento; disponibilizar conteúdos informativos, e-books, cartilhas, meios de contato e de
            envio de currículos, possuindo ainda Portal do Cliente para fim de promover um relacionamento entre você e a
            Colibri.</p>
        <p>Esta Política se aplica à coleta e ao tratamento de dados pessoais pela Centrallimp, que será direcionada
            unicamente às finalidades descritas nesta Política. Para fins de esclarecimento, dado pessoal é qualquer
            informação que possa identificar direta ou indiretamente alguém, como, por exemplo, seu nome, telefone,
            cidade onde reside, endereço IP e e-mail ("Dados Pessoais”).</p>
        <p>A presente Política não se aplica ao Portal do Cliente, gerenciado pela plataforma Simplifica +, pois
            referida plataforma apresenta Política de Privacidade própria, devidamente descrita no Portal do Cliente
            (<a href="https://colibrimoveis.portaldocliente.online/"
                target="_blank">https://colibrimoveis.portaldocliente.online/</a>), devendo o usuário se cientificar da
            regras específicas lá
            constantes ao se cadastrar e acessar o Portal do Cliente.</p>
        <p>A aceitação desta Política ocorre de forma automática por meio do acesso do usuário ao acessar nosso site
            e/ou efetuar o preenchimento dos formulários disponíveis. Isso indicará que você está ciente e em total
            acordo com a forma como utilizaremos as suas informações e seus dados.</p>

        <h3>2. Informações Coletadas</h3>

        <p>A Colibri realizará a coleta de (a) dados que o usuário do site, voluntariamente, fornecer por meio do
            preenchimento de formulários disponíveis no site para fis, por exemplo, de inscrição em newsletter,
            solicitação de orçamentos, envio de currículos, dentre outros disponíveis no site e suas abas (b) por meio
            de cookies, quando utilizados. A quantidade e o tipo de informações coletadas pela Centrallimp variam
            conforme o contexto e tipo de informação ou conteúdo que o usuário busca no site, sendo certo que ao
            preencher os formulários constará as informações a serem fornecidas, sendo faculdade do usuário efetuar ou
            não o preenchimento. Ao preencher os formulários, o usuário fornece aceitação com o tratamento de dados
            descritos nesta Política.</p>
        <p> Colibri declara que realiza a coleta e tratamento dos dados através dos seguintes meios:

        <p class="sub">(a) Dados fornecidos voluntariamente pelo usuário: para o uso de uma funcionalidade do site, como
            por exemplo
            cadastro para receber comunicações informativas e comerciais, envio de currículos, pedidos de orçamentos,
            atendimento por chat, acesso de materiais, ou ainda receber informações sobre nossos serviços e/ou
            contratá-los. A Colibri promove a coleta e o tratamento de dados pessoais dos usuários conforme sejam
            necessários, tais como nome, endereço de e-mail, contato telefônico, data de nascimento e cidade.
            Eventualmente, a solicitação de algumas informações pode ser feita por meio de contato direto da Colibri com
            os usuários via whatsapp ou ligação telefônica;</p>
        <p class="sub">(a.1) Processos Seletivos: Para a realização de processos seletivos para oportunidades de
            trabalho na
            Colibri, nós poderemos coletar Dados Pessoais dos candidatos que se interessarem em participar dos nossos
            processos seletivos, o que se dará unicamente se houver interesse do usuário em preencher o formulário
            “Trabalhe conosco”. Essas informações podem incluir currículos, experiência profissional, documentos de
            identificação, registros acadêmicos, referências. </p>
        <p class="sub">(b) Cookies: A Colibri poderá fazer uso de cookies, que consistem em pequenos arquivos criados
            pelo site que
            são salvos no computador do usuário através do navegados e contém informações para identificação do
            visitante, para facilitação de transporte de dados entre as páginas do site e melhoria no uso. O usuário
            concorda com o uso de cookies para captação de informações pela Colibri a cada acesso ao site, de forma que
            possa a Colibri amplamente realizar o mapeamento dos seus acessos, histórico de navegação no site,
            preenchimento de formulários, cliques, preferências, e com isso, possa melhorar a utilização da plataforma.
            O usuário está ciente que poderá apagar, ativar ou gerenciar todos os cookies a qualquer tempo por meio do
            próprio navegador utilizado.</p>
        </p>
        <p>Não nos responsabilizamos pela precisão, veracidade ou falta dela nas informações que o usuário prestar à
            Colibri ou pela sua desatualização, sendo de responsabilidade do usuário prestá-las com exatidão ou
            atualizá-las.</p>

        <h3>3. Finalidade da coleta de dados</h3>

        <p>
            A Colibri promoverá o tratamento dos dados coletados na forma do item 2 acima, em conformidade com a Lei
            Geral de Proteção de Dados (Lei nº 13.709/2018) e estritamente com a finalidade de:

        <p class="sub">(a) fornecer, personalizar e melhorar a experiência do usuário com os serviços oferecidos pelo
            site e demais
            páginas relacionadas e permitir meios de contato ágeis e eficientes por meio de formulários específicos para
            pedido de orçamento, contato ou envio de currículo;</p>
        <p class="sub">(b) enviar comunicações ao usuário, diretamente ou através de parceiros, para fins de: marketing,
            vendas,
            campanhas por meio de e-mails, notificações, anúncios pelo Google Ads e suas redes parceiras e/ou redes
            sociais (como Facebook, Instagram, Linkedin), ciente o usuário que poderá a qualquer tempo descadastrar-se
            do envio de comunicações por meio dos próprios e-mails recebidos;</p>
        <p class="sub">(c) fornecer ao usuário funcionalidades, atualizações e liberação de materiais como e-books,
            sendo facultado
            ao usuário solicitar o cancelamento da inscrição na newsletter e que não lhe sejam enviados novos materiais
            por meio dos próprios e-mails recebidos; </p>
        <p class="sub">(d) análise de crédito do Cliente nas hipóteses de pedidos de orçamento, pedido de produtos, ou
            celebração de
            contratos.</p>
        </p>

        <p>O consentimento que o usuário fornece para as finalidades de uso dos dados é manifestado a partir do próprio
            preenchimento dos formulários respectivos, que possuem indicação clara da finalidade.</p>

        <h3>4. Segurança da Informação</h3>

        <p>
            Os dados serão armazenados pela Colibri por meio de servidos interno, ou mediante sistemas contratados
            fornecidos por terceiros, sendo eles: sistema de gestão de leads e sistema de gerenciamento de contatos
            “Customer relationship management”, com o compromisso de cumprir as determinações de confidencialidade.
            Neste
            sentido:

        <p class="sub">
            (a) A Colibri adota medidas tecnológicas adequadas a atender aos padrões legalmente requeridos para
            preservar a
            privacidade dos dados coletados em seu site, tais como: (i) proteção contra acesso não autorizado de
            terceiros a
            seus sistemas; (ii) controle do acesso às informações coletadas por empregados e profissionais terceirizados
            que
            tenham se comprometido formalmente a manter seu sigilo e seu acesso, orientado pelos princípios da
            proporcionalidade, necessidade e relevância, objetivando a preservação da privacidade de acordo com esta
            Política; (iii) celebração de termo de confidencialidade e sigilo com eventuais funcionários ou terceiros
            que
            tenham acesso aos dados.
        </p>

        <p class="sub">
            (b) Os sistemas de gerenciamento de dados contratados pela Colibri contam com meios de segurança próprios
            adequados à Lei Geral de Proteção de Dados fornecidos pelas empresas desenvolvedoras, como acesso limitado
            mediante senhas, sigilo dos dados pessoais armazenados e armazenamento em nuvem, eventuais falhas de
            segurança
            interna das empresas responsáveis pelos sistemas de gerenciamento de dados reairão unicamente sob
            responsabilidade delas.
        </p>

        <p class="sub">
            (c) A Colibri envidará seus melhores esforços para preservar a privacidade dos dados do usuário e adota os
            meios
            de proteção a seu alcance. Entretanto, a Colibri não será responsável por eventuais vazamentos de dados em
            razão
            hackeamentos, casos fortuitos ou de força maior que não dependam do controle da Colibri.
        </p>
        </p>


        <p>Qualquer intercorrência inerente aos dados pessoais, pedido de remoção ou alteração, poderá ser comunicada
            pelo
            usuário ao e-mail dante.neto@colibrimóveis.com.br.</p>

        <h3>5. Compartilhamento de dados </h3>

        <p>A Colibri poderá compartilhar Dados Pessoais coletados a partir do nosso site e páginas relacionadas com as
            empresas de processamento de dados (operadores) e sistemas de processamento (serviços de computação em
            nuvem),
            consultoria em tecnologia da informação, de publicidade e marketing, bem como empresas parceiras para
            adequada
            prestação de sereviços objeto de sua atividade, compartilhamento este que ocorrerá unicamente para
            atendimento
            às finalidades descritas nesta Política de Dados.</p>

        <p>Informações de identificação comercial do usuário e de crédito poderão ser compartilhadas com terceiros, tal
            qual empresas de análise de crédito e empresas parceiras, para fins comerciais e de análise de crédito, por
            exemplo, com o que o usuário manifesta consentimento ao fornecer os respectivos dados. Tal compartilhamento
            se
            dará somente quando necessários ao regular cumprimento da prestação de serviços em razão de relação
            comercial
            entre o usuário e a Colibri, não havendo compartilhamento para fins diversos.</p>

        <p>Os serviços dos fornecedores e parceiros são regulados por seus próprios termos de uso e política de
            privacidade, das quais a Colibri não tem controle, sendo certo que nenhum compartilhamento ou armazenamento
            é
            realizado fora do escopo desta Política. Caso o usuário tenha interesse em não mais receber comunicações, ou
            venha a solicitar exclusão dos dados, deverá entrar em contato com a Colibri, que solicitará aos operadores
            dos
            sistemas as medidas necessárias.</p>

        <p>A Colibri se reserva no direito de tratar e/ou fornecer quaisquer Dados Pessoais e informações para cumprir
            uma
            obrigação legal ou uma ordem judicial, caso lhe for solicitada; para dar cumprimento a outros acordos e/ou
            contratos; proteger os direitos, propriedade ou segurança da Colibri, bem como de nossos funcionários e/ou
            clientes.</p>

        <h3>6. Retenção, Alteração e Eliminação dos dados</h3>

        <p>As Informações coletadas pela Colibri por meio do site serão mantidas em sistemas de gerenciamento de dados
            seguros e os dados serão tratados por período indetermindo, enquanto não houver revogação expressa do
            consentimento pelo usuário, ou pelo tempo necessário para o fim ao qual os dados se destinam.</p>

        <p>O Usuário, titular dos dados, poderá solicitar a qualquer tempo: a) cópia de seus dados pessoais tratados
            pela
            Colibri; b) informações sobre a existência de tratamento; c) correção de dados incompletos, desatualizados
            ou
            inexatos; d) anomização, bloqueio ou eliminação de dados excessivos; e) portabilidade de seus dados a outro
            fornecedor de serviços ou produtos, mediante solicitação expressa; f) eliminação de dados pessoais; g)
            informações sobre as entidades públicas ou privadas com as quais o compartilhamento foi feito; h) revogação
            de
            consentimento, ou ainda, eventuais esclarecimentos complementares, sempre através do email
            dante.neto@colibrimoveis.com.br.</p>

        <p>O atendimento das solicitações será realizado dentro dos limites legais. A Colibri se reserva no direito de
            reter eventuais dados pessoais necessários ao cumprimento de obrigações legais, para satisfazer exigências
            regulatórias, sanar divergências com o usuário, evitar fraudes e o uso indevido do site e dos dados e/ou
            para
            garantir o cumprimento desta Política de Privacidade.</p>

        <h3>7. Alterações na Política</h3>

        <p>Buscamos sempre melhorar nossos processos e, por esse motivo, esta Política de Privacidade poderá passar por
            atualizações, sem qualquer óbice. Recomendamos que você visite nossa Política de Privacidade periodicamente.
            Não
            obstante, a Colibri poderá informar ao usuário sobre as alterações relevantes através de aviso no próprio
            site,
            por email ou por outro meio razoável.</p>

        <h3>8. Legislação Aplicável</h3>

        <p>A presente Política de Privacidade será regida e interpretada segundo a legislação brasileira,
            independentemente
            das Leis de outros estados ou países. Todas as informações pessoais relativas aos Usuários que acessam e
            utilizam o website da Colibri são tratadas de acordo com a Lei n° 12.965/201 4 (Marco Civil da Internet) e a
            Lei
            n° 13.709/18 (Lei Geral de Proteção de Dados Pessoais).</p>

        <p>Fica eleito o Foro da Comarca de Arapongas/PR para dirimir qualquer litígio ou controvérsia envolvendo o
            presente documento, salvo ressalva específica de competência pessoal, territorial ou funcional pela
            legislação
            aplicável.</p>
    </div>
</section>